<%- include("./partials/header")%>
    <!--Main Page-->
    <div class="container bcontent">
        <h1><%=movie.Title%></h1>
        <!--Card-->
        <div class="row no-gutters" style="background-color:  #CDCDCD;">
        <div class="col-sm-4" ">
        <img src=" <%=movie.Poster%>" alt="Poster" />
        </div>
        <div class="col-sm-7">
            <div class="card-body">
            <h4 class="card-title"><%=movie.Title%></h4>
            <p class="card-text"><%=movie.Plot%></p>
            <p class="card-text"><b>Actors: </b><%=movie.Actors%></p>
            <p class="card-text"><i>Box Office: </i><%=movie.BoxOffice%></p>
            </div>
        </div>
        </div>
    </div>
<%- include("./partials/footer")%>